# <YOUR_PROJECT>

This file provides guidance to AI coding agents working with this repository.

## What is <YOUR_PROJECT>?

<YOUR_PROJECT_DESCRIPTION>

## Instructions

- SHOULD document new instructions and learnings in `AGENTS.md` file(s) to help future agents.
- MUST NOT write redundant comments. Code should be readable as-is. MAY leave comments if it explains something complex/unexpected.

## Architecture

- Rails 8
- Background jobs: solid_queue & ActiveJob
- Code style: RuboCop (see `.rubocop.yml`)
- Testing: Rspec
